@import '~antd/es/style/themes/default.less';

.settingContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  .content {
    width: 420px;
    margin-top: 140px;
    .btn {
      margin-top: 40px;
    }
  }
}
